.nav {
  padding: 2rem 0;
}

#pjax {
}

.slidefade-transition {
  transition: all .5s ease-in-out;
  opacity: 1;
  transform: translateX(0);
}

.slidefade-enter {
  opacity: 0;
  transform: translateX(100%);
}

.slidefade-leave {
  opacity: 0;
  transform: translateX(-100%);
}
